In [3]:
import pandas as pd

## Working with json

In [2]:
url = 'https://github.com/campusx-official/100-days-of-machine-learning/raw/refs/heads/main/day16%20-%20working-with-json-and-sql/train.json'
pd.read_json(url)

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

## Working with SQL

In [4]:
!pip install mysql.connector

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     - -------------------------------------- 0.5/11.9 MB 5.6 MB/s eta 0:00:03
     ------ --------------------------------- 1.8/11.9 MB 3.7 MB/s eta 0:00:03
     ---------- ----------------------------- 3.1/11.9 MB 3.8 MB/s eta 0:00:03
     --------------- ------------------------ 4.7/11.9 MB 4.7 MB/s eta 0:00:02
     --------------------- ------------------ 6.3/11.9 MB 4.6 MB/s eta 0:00:02
     ----------------------------- ---------- 8.7/11.9 MB 5.4 MB/s eta 0:00:01
     ----------------------------------- ---- 10.5/11.9 MB 5.8 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 6.0 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=732fc3b466fa4edbd31806801e73e301cbfa5d5763baa529b51752539540750d
  Stored in directory: c:\users\india\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [6]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [7]:
!pip uninstall -y mysql-connector

Found existing installation: mysql-connector 2.2.9
Uninstalling mysql-connector-2.2.9:
  Successfully uninstalled mysql-connector-2.2.9

In [8]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp312-cp312-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.4.0-cp312-cp312-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   --- ------------------------------------ 1.6/16.4 MB 7.6 MB/s eta 0:00:02
   -------- ------------------------------- 3.4/16.4 MB 8.0 MB/s eta 0:00:02
   ------------ --------------------------- 5.0/16.4 MB 7.9 MB/s eta 0:00:02
   --------------- ------------------------ 6.3/16.4 MB 7.7 MB/s eta 0:00:02
   ----------------- ---------------------- 7.1/16.4 MB 6.9 MB/s eta 0:00:02
   -------------------- ------------------- 8.4/16.4 MB 6.5 MB/s eta 0:00:02
   ----------------------- ---------------- 9.4/16.4 MB 6.6 MB/s eta 0:00:02
   ------------------------- -------------- 10.5/16.4 MB 6.1 MB/s eta 0:00:01
   ---------------------------- ----------- 11.8/16.4 MB 6.2 MB/s eta 0:00:01
   -------------------------------- ------- 13.4/16.4 MB 6.2 MB/s eta 0:00:01
   ----------------------------------- ---- 14.7/16.4 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 6.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0

In [1]:
import mysql.connector

In [2]:
conn =mysql.connector.connect(host = 'localhost',user = 'root',password='',database = 'world')

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (Errno 10061: No connection could be made because the target machine actively refused it)

In [3]:
pd.read_sql_query('SELECT * FROM city',conn)

NameError: name 'pd' is not defined