In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
url = 'https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/refs/heads/main/day28-column-transformer/covid_toy.csv'
df = pd.read_csv(url)

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [8]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [11]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [14]:
x_train.head()

    age  gender  fever   cough       city
45   72    Male   99.0    Mild  Bangalore
60   24  Female  102.0  Strong  Bangalore
98    5  Female   98.0  Strong     Mumbai
91   38    Male    NaN    Mild      Delhi
76   80    Male  100.0    Mild  Bangalore

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns = ['has_covid']),df['has_covid'],
                                                   test_size = 0.2)

## 1. Aam Zindagi

In [17]:
# adding simple imputer to fever col
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']]) #all the missing values gets replaced by the mean

#also the test data
x_test_fever = si.transform(x_test[['fever']])

x_train_fever.shape

(80, 1)

In [21]:
#OrdinalEncoding -> cough
oe = OrdinalEncoder(categories = [['Mild','Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

#also the test data
x_test_cough = oe.transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [25]:
#one hot encoding -> gender, city
ohe = OneHotEncoder(drop = 'first',sparse_output = False)
x_train_gender_city = ohe.fit_transform(x_train[['gender','city']])

#also the test data
x_test_gender_city = ohe.transform(x_test[['gender','city']])

x_train_gender_city.shape

(80, 4)

In [27]:
#Extracting Age
x_train_age = x_train.drop(columns = ['gender','fever','cough','city']).values

#also the test data
x_test_age = x_test.drop(columns =['gender','fever','cough','city']).values

x_train_age.shape

(80, 1)

In [30]:
x_train_transformed = np.concatenate((x_train_age, x_train_fever, x_train_gender_city, x_train_cough),axis = 1)
#also the test data
x_test_transformed = np.concatenate((x_test_age, x_test_fever, x_test_gender_city, x_test_cough),axis = 1)

x_train_transformed.shape

(80, 7)

## Mentos zindagi

In [31]:
from sklearn.compose import ColumnTransformer

In [39]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories = [['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output = False, drop = 'first'),['gender','city'])
], remainder = 'passthrough')

In [42]:
transformer.fit_transform(x_train).shape

(80, 7)

In [43]:
transformer.transform(x_test).shape

(20, 7)