In [1]:
import pandas as pd
import requests

In [5]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8156ba7859bd0552330c4491d2d52d0c&language=en-US&page=1')

In [13]:
df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [14]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,27.1570,8.712,28788
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,27.4415,8.686,21771
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.7352,8.571,13143
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,25.0724,8.565,16665
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,14.3753,8.500,9354

In [29]:
df=pd.DataFrame()
type(df)

pandas.core.frame.DataFrame

In [30]:
for i in range(1,501):
    response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8156ba7859bd0552330c4491d2d52d0c&language=en-US&page={}'.format(i))
    temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df=pd.concat([df,temp_df],ignore_index=True)
#when you run the loop runs first time, it would give index from 1-20, but for second itertaion it will again give 1-20, so to ignore that, it will giving indexing continuing from 21 onwards.

In [31]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,27.1570,8.712,28788
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,27.4415,8.686,21771
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.7352,8.571,13143
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,25.0724,8.565,16665
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,14.3753,8.500,9354
...,...,...,...,...,...,...,...
9995,27902,Love Wrecked,18-year-old Jenny Taylor is ecstatic when she ...,2005-11-01,1.9070,5.120,508
9996,10944,In the Cut,"A New York City writing professor, Frannie Ave...",2003-10-22,1.1241,5.120,438
9997,1239251,Megamind vs. the Doom Syndicate,"Megamind's former villain team, The Doom Syndi...",2024-03-01,6.6929,5.100,303
9998,2486,Eragon,"In his homeland of Alagaesia, a farm boy happe...",2006-12-14,5.8219,5.100,3336
9999,10167,Half Past Dead,A man goes undercover in a hi-tech prison to f...,2002-11-15,1.8003,5.117,371

In [32]:
df.to_csv('movies.csv')